.nav {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #e15c5c;
  font-size: 15px;
}

.navLink {
  font-size: 20px;
  padding: 10px;
}