.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
.imageContainer {
    text-align: center;

    .dogImage {
      max-width: 300px;
      max-height: 300px;
      width: auto;
      height: auto;
    }
  }
  

.loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #f3f3f3;
    border-top-color: #3498db;
    animation: spin 1s ease-in-out infinite;
    margin: 0 auto;
    margin-top: 20px;
  }
  
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.backLink {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
.backLink:hover {
    text-decoration: underline;
  }  