.listOfDogsContainer {
    margin: 0 auto;
    width: 90%;
    height: auto;
    padding-bottom: 85px;
}

.itemsWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: auto;
    align-content: start
}

.item {
    background-color: rgb(224, 115, 135);
    width: 30%;
    margin: 10px;
    text-align: center;
}

.item:hover {
    cursor: pointer;
    background-color: rgb(222, 151, 164);
}

@media (width < 600px) {
    .itemsWrapper {
        flex-direction: column;
    }
    .item {
        margin: 10px 0;
        width: 100%;
    }
}

.buttonWrapper {
    margin: 0 auto;
    width: 90%;
    height: auto;
    padding: 20px;
    text-align: center;

    .button {
        border: none;
        padding: 10px;
        background-color: rgb(95, 167, 223);
        cursor: pointer;
    }
}

